.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.panels {
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 2px 10px;
  color: rgb(66, 64, 64);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  float: none;
  border-right: 1px solid #ccc;
}
.button:first-child {
  border-left: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttonActive {
  background-color: hsl(215, 100%, 96%);
}
.createButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
