.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.folder {
  width: 200px;
}
.editor {
  flex: 1;
}

.folder,
.editor {
  height: 100%;
}
.sectionBlock {
  width: 200px;
}
.nav {
  background: hsl(0, 0%, 93%);
  border-bottom: 1px solid hsl(0, 0%, 75%);
  height: 40px;
}
.content {
  display: flex;
  flex: 1;
}
